/* external css */
*{
  margin: 0;
  background-color: aqua;
}
/* .heading{
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-family: 'ABeeZee', sans-serif; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Splash', cursive; */
  /* color: aquamarine;
  text-shadow: rgb(107, 145, 189);
}
.pic{
   margin-top: 30px;
   display: flex;
   justify-content: center;
} */